* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-eng-kaz.eng-kaz.dix -text
/apertium-eng-kaz.eng-kaz.lrx -text
/apertium-eng-kaz.eng-kaz.rlx -text
/apertium-eng-kaz.eng-kaz.t1x -text
/apertium-eng-kaz.eng-kaz.t2x -text
/apertium-eng-kaz.eng-kaz.t3x -text
/apertium-eng-kaz.eng-kaz.t4x -text
/apertium-eng-kaz.eng.acx -text
/apertium-eng-kaz.eng.dix -text
/apertium-eng-kaz.kaz-eng.lrx -text
/apertium-eng-kaz.kaz-eng.t1x -text
/apertium-eng-kaz.kaz-eng.t2x -text
/apertium-eng-kaz.kaz-eng.t3x -text
/autogen.sh -text
/configure.ac -text
corpora/eng.crp.txt -text
corpora/europarl-v7.es-en.en -text
corpora/news-commentary-v8.ru-en.en -text
corpora/setimes.en-tr.en.txt -text
/correct-tests.sh -text
/cover.sh -text
dev/Correct_tests.html -text
dev/apertium-eng-kaz.kaz-eng.t1x -text
dev/apertium-eng-kaz.kaz.lexc.orig -text
dev/article-for-comp-proc-turk-lang.fodt -text
dev/bidix-entries-nouns-from-gloss.txt -text
dev/eng.hitparade.10000.txt -text
dev/lexcdiff.py -text
dev/news.en -text
dev/proposal.odt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.eng-kaz.txt -text
dev/testvoc/testvoc.sh -text
dev/text-to-recycle-for-article.rtf -text
dev/transfer-rehaul-notes.tex -text
dev/unknown-words-from-news-commentary-v8-20130619.txt -text
/eng-kaz.prob -text svneol=unset#unset
/first_diag.txt -text
/kaz-eng.prob -text svneol=unset#unset
/kazakhnouns.txt -text svneol=unset#application/octet-stream
/list_nouns.txt -text
/modes.xml -text
/new-regression-tests.sh -text
/newadv.txt -text
/newdix.txt -text
/newpr.txt -text
/newverb.txt -text
/notnoun.txt -text
/pasten.py -text
/regression-tests.sh -text
texts/eng.chunks.txt -text
texts/kazakhstan1.eng.txt -text
texts/kazakhstan1.kaz.txt -text svneol=unset#application/octet-stream
texts/story1.eng.txt -text
texts/story1.kaz.txt -text svneol=unset#application/octet-stream
/useful[!!-~]notes[!!-~]for[!!-~]Aida -text
/wiki-correct-tests.sh -text
/wiki-tests.sh -text
