/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/eng-kaz.autobil.bin
/eng-kaz.autogen.bin
/eng-kaz.autogen.hfst
/eng-kaz.automorf.bin
/eng-kaz.lrx.bin
/eng-kaz.rlx.bin
/eng-kaz.t1x.bin
/eng-kaz.t2x.bin
/eng-kaz.t3x.bin
/eng-kaz.t4x.bin
/install-sh
/kaz-eng.autobil.bin
/kaz-eng.autogen.bin
/kaz-eng.automorf.bin
/kaz-eng.automorf.hfst
/kaz-eng.lrx.bin
/kaz-eng.rlx.bin
/kaz-eng.t1x.bin
/kaz-eng.t2x.bin
/kaz-eng.t3x.bin
/missing
/modes
/testcache
/compiled/
/test/*-output.txt
