* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
Errors/eng-kaz_unknown_words -text
Errors/kaz-eng_unknown_words -text svneol=unset#application/octet-stream
/ISSUES.txt -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-eng-kaz.eng-kaz.dix -text
/apertium-eng-kaz.eng-kaz.lrx -text
/apertium-eng-kaz.eng-kaz.rlx -text
/apertium-eng-kaz.eng-kaz.t1x -text
/apertium-eng-kaz.eng-kaz.t2x -text
/apertium-eng-kaz.eng-kaz.t3x -text
/apertium-eng-kaz.eng-kaz.t4x -text
/apertium-eng-kaz.eng.acx -text
/apertium-eng-kaz.eng.dix -text
/apertium-eng-kaz.kaz-eng.lrx -text
/apertium-eng-kaz.kaz-eng.t1x -text
/apertium-eng-kaz.kaz-eng.t2x -text
/apertium-eng-kaz.kaz-eng.t3x -text
/autogen.sh -text
/bibl-cover.sh -text
/configure.ac -text
/correct-tests.sh -text
/cover.sh -text
dev/Correct_tests.html -text
dev/apertium-eng-kaz.kaz-eng.t1x -text
dev/apertium-eng-kaz.kaz.lexc.orig -text
dev/article-for-comp-proc-turk-lang.fodt -text
dev/bidix-entries-nouns-from-gloss.txt -text
dev/lexcdiff.py -text
dev/new-bidix.wikipedia.dix -text
dev/news.en -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.eng-kaz.txt -text
dev/testvoc/testvoc.sh -text
dev/testvoc2/inconsistency-summary.sh -text
dev/testvoc2/inconsistency.sh -text
dev/testvoc2/lite/inconsistency.sh -text
dev/testvoc2/lite/testvoc-summary.kaz-eng.txt -text
dev/testvoc2/lite/testvoc.sh -text
dev/testvoc2/standard/inconsistency-summary.sh -text
dev/testvoc2/standard/inconsistency.sh -text
dev/testvoc2/standard/testvoc-summary..txt -text
dev/testvoc2/standard/testvoc-summary.kaz-eng.txt -text
dev/testvoc2/standard/testvoc.sh -text
dev/testvoc2/testvoc.sh -text
dev/text-to-recycle-for-article.rtf -text
dev/transfer-rehaul-notes.tex -text
dev/unknown-words-from-news-commentary-v8-20130619.txt -text
/eng-kaz.prob -text svneol=unset#unset
/instructions -text
/kaz-cover.sh -text
/kaz-eng.prob -text svneol=unset#unset
/merge-analyses.bin -text
/merge-analyses.cg -text
/modes.xml -text
mteval/bleug.txt -text
mteval/bleus.txt -text
mteval/bleutr.txt -text
mteval/corp-en.xml -text
mteval/corp-kaz-ref.xml -text
mteval/corp-kz.xml -text
mteval/en.txt -text
mteval/en.xml -text
mteval/eng.txt -text
mteval/eng.xml -text
mteval/eng1.xml -text
mteval/es-ref.txt -text
mteval/es-ref.xml -text
mteval/es.txt -text
mteval/es.xml -text
mteval/kaz--ref-google.txt -text svneol=unset#application/octet-stream
mteval/kaz--ref-google.xml -text
mteval/kaz-google -text svneol=unset#application/octet-stream
mteval/kaz-google.txt -text svneol=unset#application/octet-stream
mteval/kaz-google.xml -text
mteval/kaz-ref-google.xml -text
mteval/kaz-ref.txt -text svneol=unset#application/octet-stream
mteval/kaz-ref.xml -text
mteval/kaz-ref1.txt -text svneol=unset#application/octet-stream
mteval/kaz-ref1.xml -text
mteval/kaz-sanasoft.txt -text
mteval/kaz-sanasoft.xml -text
mteval/kaz-sanasoft1.txt -text svneol=unset#application/octet-stream
mteval/kaz-sanasoft1.xml -text
mteval/kaz-trident.txt -text svneol=unset#application/octet-stream
mteval/kaz-trident.xml -text
mteval/kaz.txt -text svneol=unset#application/octet-stream
mteval/kaz.xml -text
mteval/kaz1-ref.txt -text svneol=unset#application/octet-stream
mteval/kaz1-ref.xml -text
mteval/kaz1.txt -text svneol=unset#application/octet-stream
mteval/kaz1.xml -text
mteval/mteval-v13a.pl -text
mteval/scripts.tgz -text
mteval/scripts/detokenizer.perl -text
mteval/scripts/lowercase.perl -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.de -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.el -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.en -text
mteval/scripts/reuse-weights.perl -text
mteval/scripts/tokenizer.perl -text
mteval/scripts/wrap-xml.perl -text
mteval/text/eng.txt -text
mteval/text/eng1.txt -text
mteval/text/kaz-ref.txt -text svneol=unset#application/octet-stream
mteval/text/kaz-reffin.txt -text svneol=unset#application/octet-stream
mteval/text/kaz.txt -text svneol=unset#application/octet-stream
mteval/text/kaz1.txt -text svneol=unset#application/octet-stream
mteval/wrap.awk -text
mteval/wrapper.sh -text
/new-regression-tests.sh -text
/notnoun.txt -text
/pasten.py -text
/regression-tests.sh -text
/rules -text
/useful[!!-~]notes[!!-~]for[!!-~]Aida -text
/wiki-correct-tests.sh -text
/wiki-tests.sh -text
