* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-eng-kaz.eng-kaz.dix -text
/apertium-eng-kaz.eng-kaz.lrx -text
/apertium-eng-kaz.eng-kaz.rlx -text
/apertium-eng-kaz.eng-kaz.t1x -text
/apertium-eng-kaz.eng-kaz.t2x -text
/apertium-eng-kaz.eng-kaz.t3x -text
/apertium-eng-kaz.eng-kaz.t4x -text
/apertium-eng-kaz.eng.acx -text
/apertium-eng-kaz.eng.dix -text
/apertium-eng-kaz.kaz-eng.lrx -text
/apertium-eng-kaz.kaz-eng.t1x -text
/apertium-eng-kaz.kaz-eng.t2x -text
/apertium-eng-kaz.kaz-eng.t3x -text
/autogen.sh -text
/configure.ac -text
/correct-tests.sh -text
/cover.sh -text
dev/Correct_tests.html -text
dev/apertium-eng-kaz.kaz-eng.t1x -text
dev/apertium-eng-kaz.kaz.lexc.orig -text
dev/article-for-comp-proc-turk-lang.fodt -text
dev/bidix-entries-nouns-from-gloss.txt -text
dev/eng.hitparade.10000.txt -text
dev/lexcdiff.py -text
dev/new-bidix.wikipedia.dix -text
dev/news.en -text
dev/proposal.odt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.eng-kaz.txt -text
dev/testvoc/testvoc.sh -text
dev/text-to-recycle-for-article.rtf -text
dev/transfer-rehaul-notes.tex -text
dev/unknown-words-from-news-commentary-v8-20130619.txt -text
/eng-kaz.prob -text svneol=unset#unset
/first_diag.txt -text
generalisation/README -text
generalisation/apertium-patch/apertium-diff -text
generalisation/apertium-patch/lttoolbox-diff -text
generalisation/apertium-patch/test/apertium-es-ca.es-ca.dix -text
generalisation/apertium-patch/test/reference -text
generalisation/apertium-patch/test/reference2 -text
generalisation/apertium-patch/test/test.rules.xml -text
generalisation/apertium-patch/test/testApertiumPatch.sh -text
generalisation/extract-rules-eng-kaz.sh -text
generalisation/extract-rules-from-gf-alignments.sh -text
generalisation/extract-rules.sh -text
generalisation/phrase-extraction/ACKNOWLEDGEMENTS -text
generalisation/phrase-extraction/AUTHORS -text
generalisation/phrase-extraction/COPYING -text
generalisation/phrase-extraction/ChangeLog -text
generalisation/phrase-extraction/INSTALL -text
generalisation/phrase-extraction/Makefile -text
generalisation/phrase-extraction/Makefile.am -text
generalisation/phrase-extraction/Makefile.in -text
generalisation/phrase-extraction/NEWS -text
generalisation/phrase-extraction/README -text
generalisation/phrase-extraction/aclocal.m4 -text
generalisation/phrase-extraction/apertium-transfer-tools-generalisation-1.0.pc -text
generalisation/phrase-extraction/apertium-transfer-tools-generalisation-1.0.pc.in -text
generalisation/phrase-extraction/autogen.sh -text
generalisation/phrase-extraction/autom4te.cache/output.0 -text
generalisation/phrase-extraction/autom4te.cache/output.1 -text
generalisation/phrase-extraction/autom4te.cache/requests -text
generalisation/phrase-extraction/autom4te.cache/traces.0 -text
generalisation/phrase-extraction/autom4te.cache/traces.1 -text
generalisation/phrase-extraction/config.log -text
generalisation/phrase-extraction/config.status -text
generalisation/phrase-extraction/configure -text
generalisation/phrase-extraction/configure.ac -text
generalisation/phrase-extraction/depcomp -text
generalisation/phrase-extraction/install-sh -text
generalisation/phrase-extraction/missing -text
generalisation/phrase-extraction/src/.deps/ATXReader.Po -text
generalisation/phrase-extraction/src/.deps/Alignment.Po -text
generalisation/phrase-extraction/src/.deps/AlignmentTemplate.Po -text
generalisation/phrase-extraction/src/.deps/AlignmentTemplateGeneralizer.Po -text
generalisation/phrase-extraction/src/.deps/AlignmentTemplateHandy.Po -text
generalisation/phrase-extraction/src/.deps/LexicalizedWords.Po -text
generalisation/phrase-extraction/src/.deps/PTXReader.Po -text
generalisation/phrase-extraction/src/.deps/SentenceAlignment.Po -text
generalisation/phrase-extraction/src/.deps/TablesCore.Po -text
generalisation/phrase-extraction/src/.deps/TransferRule.Po -text
generalisation/phrase-extraction/src/.deps/Utils.Po -text
generalisation/phrase-extraction/src/.deps/apertium-add-restrictions-to-sl.Po -text
generalisation/phrase-extraction/src/.deps/apertium-apply-biling.Po -text
generalisation/phrase-extraction/src/.deps/apertium-gen-transfer-from-aligment-templates.Po -text
generalisation/phrase-extraction/src/.deps/apertium-generalize-alignment-templates.Po -text
generalisation/phrase-extraction/src/.deps/apertium-posttransfer.Po -text
generalisation/phrase-extraction/src/.deps/apertium-symmetrize-alignments.Po -text
generalisation/phrase-extraction/src/.deps/apertium-xtract-alignment-templates.Po -text
generalisation/phrase-extraction/src/.deps/apertium-xtract-bilingual-phrases-koehn-2003.Po -text
generalisation/phrase-extraction/src/.deps/apertium-xtract-bilingual-phrases.Po -text
generalisation/phrase-extraction/src/.deps/zfstream.Po -text
generalisation/phrase-extraction/src/ATXReader.C -text
generalisation/phrase-extraction/src/ATXReader.H -text
generalisation/phrase-extraction/src/Alignment.C -text
generalisation/phrase-extraction/src/Alignment.H -text
generalisation/phrase-extraction/src/AlignmentTemplate.C -text
generalisation/phrase-extraction/src/AlignmentTemplate.H -text
generalisation/phrase-extraction/src/LexicalizedWords.C -text
generalisation/phrase-extraction/src/LexicalizedWords.H -text
generalisation/phrase-extraction/src/Makefile -text
generalisation/phrase-extraction/src/Makefile.am -text
generalisation/phrase-extraction/src/Makefile.in -text
generalisation/phrase-extraction/src/PTXReader.C -text
generalisation/phrase-extraction/src/PTXReader.H -text
generalisation/phrase-extraction/src/SafeGetline.h -text
generalisation/phrase-extraction/src/SentenceAlignment.C -text
generalisation/phrase-extraction/src/SentenceAlignment.H -text
generalisation/phrase-extraction/src/TablesCore.C -text
generalisation/phrase-extraction/src/TablesCore.H -text
generalisation/phrase-extraction/src/TransferRule.C -text
generalisation/phrase-extraction/src/TransferRule.H -text
generalisation/phrase-extraction/src/Utils.C -text
generalisation/phrase-extraction/src/Utils.H -text
generalisation/phrase-extraction/src/apertium-add-restrictions-to-sl -text
generalisation/phrase-extraction/src/apertium-add-restrictions-to-sl.C -text
generalisation/phrase-extraction/src/apertium-apply-biling -text
generalisation/phrase-extraction/src/apertium-apply-biling.C -text
generalisation/phrase-extraction/src/apertium-gen-transfer-from-aligment-templates -text
generalisation/phrase-extraction/src/apertium-gen-transfer-from-aligment-templates.C -text
generalisation/phrase-extraction/src/apertium-posttransfer -text
generalisation/phrase-extraction/src/apertium-posttransfer.C -text
generalisation/phrase-extraction/src/apertium-posttransfer.dtd -text
generalisation/phrase-extraction/src/apertium-preprocess-corpus-transfer-at -text
generalisation/phrase-extraction/src/apertium-switch-alignments -text
generalisation/phrase-extraction/src/apertium-symmetrize-alignments -text
generalisation/phrase-extraction/src/apertium-symmetrize-alignments.C -text
generalisation/phrase-extraction/src/apertium-transfer-at.dtd -text
generalisation/phrase-extraction/src/apertium-validate-posttransfer -text
generalisation/phrase-extraction/src/apertium-validate-transfer-at -text
generalisation/phrase-extraction/src/apertium-xtract-bilingual-phrases -text
generalisation/phrase-extraction/src/apertium-xtract-bilingual-phrases-koehn-2003 -text
generalisation/phrase-extraction/src/apertium-xtract-bilingual-phrases-koehn-2003.C -text
generalisation/phrase-extraction/src/apertium-xtract-bilingual-phrases.C -text
generalisation/phrase-extraction/src/configure.H -text
generalisation/phrase-extraction/src/configure.H.in -text
generalisation/phrase-extraction/src/giza++A3-to-apertium -text
generalisation/phrase-extraction/src/giza++A3-to-apertium.awk -text
generalisation/phrase-extraction/src/preprocess-corpus.awk -text
generalisation/phrase-extraction/src/stamp-h1 -text
generalisation/phrase-extraction/src/switch-alignments.awk -text
generalisation/phrase-extraction/src/validate-xml-dtd.sh -text
generalisation/phrase-extraction/src/zfstream.C -text
generalisation/phrase-extraction/src/zfstream.H -text
generalisation/phrase-extraction/transfer-tools-scripts/Makefile -text
generalisation/phrase-extraction/transfer-tools-scripts/alignmentsToBeamSearchInput.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-br-fr.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-br-fr.transfer-at.br-fr.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-br-fr.transfer-at.fr-br.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-ca-es.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-en-es.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-en-es.transfer-at.en-es.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-en-es.transfer-at.es-en.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-en-fr.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-eng-kaz.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-es-ca.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-es-ca.transfer-at.ca-es.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-es-ca.transfer-at.es-ca.atx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-es-en.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-fr-br.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-xtract-bilingual-phrases-wrapper.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/apertium-zho-spa.posttransfer.ptx -text
generalisation/phrase-extraction/transfer-tools-scripts/countTimesAttributeChanges.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/empty-rules-for-translating.t1x -text
generalisation/phrase-extraction/transfer-tools-scripts/extract-phrases-v3.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/filter_alignment_templates.awk -text
generalisation/phrase-extraction/transfer-tools-scripts/generateCorpusFromBildic.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/gfBiphrasesToTransferToolsFormat.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/lemmatizeCorpus.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/linkToWorkDir.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/lowercase.perl -text
generalisation/phrase-extraction/transfer-tools-scripts/markers -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_br_br-fr.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_br_fr-br.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_ca.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_ca_ca-es.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_ca_es-ca.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_en_en-es.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_en_en-fr.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_en_es-en.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_en_fr-en.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_eng_eng-kaz.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_es_ca-es.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_es_en-es.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_es_es-ca.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_es_es-en.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_fr_br-fr.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_fr_en-fr.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_fr_fr-br.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/preprocess_fr_fr-en.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/processBilphrases.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/processBilphrasesFromGF.sh -text
generalisation/phrase-extraction/transfer-tools-scripts/trainGIZA++.sh -text
generalisation/rule-generalisation/addDebugInfoToTransferRules-debug.py -text
generalisation/rule-generalisation/addDebugInfoToTransferRules.py -text
generalisation/rule-generalisation/addGeneralisedLeftSide.py -text
generalisation/rule-generalisation/addPosAndRestrictionsStr.py -text
generalisation/rule-generalisation/addWordInforToReport.py -text
generalisation/rule-generalisation/beamSearch.py -text
generalisation/rule-generalisation/beamSearch.sh -text
generalisation/rule-generalisation/beamSearchLib.py -text
generalisation/rule-generalisation/calculateStatsForPairedBootstrapResampling.sh -text
generalisation/rule-generalisation/chooseATs.py -text
generalisation/rule-generalisation/collapseSourcetarget.py -text
generalisation/rule-generalisation/computeSupersetsOfKeySegments.py -text
generalisation/rule-generalisation/copyToCluster.sh -text
generalisation/rule-generalisation/countCoverageAllSystems.sh -text
generalisation/rule-generalisation/countCoverageAllSystemsTT1.sh -text
generalisation/rule-generalisation/countMaxInputATs.sh -text
generalisation/rule-generalisation/countPruningAllSystems.sh -text
generalisation/rule-generalisation/countTimesAttributeChanges.py -text
generalisation/rule-generalisation/createFilteringDirFromAtAlternativeSelectionResult.sh -text
generalisation/rule-generalisation/createHTMLTableFromFrequentRules.sh -text
generalisation/rule-generalisation/createModeForBeamSearchEvaluation.sh -text
generalisation/rule-generalisation/createModeNoRules.sh -text
generalisation/rule-generalisation/createModeWithLearnedRules.sh -text
generalisation/rule-generalisation/createNewWorkDirWithUnfinishedWork.sh -text
generalisation/rule-generalisation/createNewWorkDirWithUnfinishedWorkFromUnfinished.sh -text
generalisation/rule-generalisation/drawAlignments.py -text
generalisation/rule-generalisation/empty-rules-for-translating.t1x -text
generalisation/rule-generalisation/evaluate-experiment-linear-v5.sh -text
generalisation/rule-generalisation/evaluateAllSystems.sh -text
generalisation/rule-generalisation/evaluateAllSystemsTT1.sh -text
generalisation/rule-generalisation/evaluateBeamSearchHypothesis.sh -text
generalisation/rule-generalisation/evaluateBootstrapAllSystems.sh -text
generalisation/rule-generalisation/evaluateWithAsiya.sh -text
generalisation/rule-generalisation/extractExamplesMatchingRules.sh -text
generalisation/rule-generalisation/extractPhrases.py -text
generalisation/rule-generalisation/filter-and-linear-prog-incremental-parallel-v6.sh -text
generalisation/rule-generalisation/filterAlignmentTemplates.py -text
generalisation/rule-generalisation/filterBilphrasesMatchingAT.py -text
generalisation/rule-generalisation/genXMLFileForEvaluation.sh -text
generalisation/rule-generalisation/generateLog-v11.pl -text
generalisation/rule-generalisation/generateMultipleATsFromBilphrases.py -text
generalisation/rule-generalisation/generateOneATFromBilphrases.py -text
generalisation/rule-generalisation/getNumBilphrasesAllSizes.sh -text
generalisation/rule-generalisation/getNumRulesAllSystems.sh -text
generalisation/rule-generalisation/getNumRulesAllSystemsTT1.sh -text
generalisation/rule-generalisation/getTuningFromCluster.sh -text
generalisation/rule-generalisation/getUnfinishedParts.sh -text
generalisation/rule-generalisation/launchProcessDynamic.sh -text
generalisation/rule-generalisation/listTagsequencesFromDictionary.sh -text
generalisation/rule-generalisation/maximiseScore.py -text
generalisation/rule-generalisation/mteval-v11b-nosgm.sh -text
generalisation/rule-generalisation/mteval-v11b.pl -text
generalisation/rule-generalisation/mteval-v13-nosgm-segments.sh -text
generalisation/rule-generalisation/mteval-v13.pl -text
generalisation/rule-generalisation/myExperiment-cluster-v5.sh -text
generalisation/rule-generalisation/normalize-punctuation.perl -text
generalisation/rule-generalisation/printStatisticisAntiphrases.py -text
generalisation/rule-generalisation/processBilphrases.py -text
generalisation/rule-generalisation/reArrangeGeneralisation.sh -text
generalisation/rule-generalisation/removeBilphraseConflictsWithWordId.py -text
generalisation/rule-generalisation/removeDebugInfoFromTransfer.py -text
generalisation/rule-generalisation/removeExplicitEmptuTagsFromPatternTLandRest.py -text
generalisation/rule-generalisation/removeRedundantRules.sh -text
generalisation/rule-generalisation/ruleLearningLib.py -text
generalisation/rule-generalisation/run-all-steps-on-cluster.sh -text
generalisation/rule-generalisation/run-experiment-linear-incremental-parallel-v8.sh -text
generalisation/rule-generalisation/selectBoxesFromAlternativeAlignmentOptions.sh -text
generalisation/rule-generalisation/selectFromAlternativeAtSets.py -text
generalisation/rule-generalisation/selectRulesMaximiseScore.sh -text
generalisation/rule-generalisation/shflags -text
generalisation/rule-generalisation/spreadBilphrases.py -text
generalisation/rule-generalisation/summarizeReport.py -text
generalisation/rule-generalisation/taggroups_br-fr -text
generalisation/rule-generalisation/taggroups_ca-es -text
generalisation/rule-generalisation/taggroups_en-es -text
generalisation/rule-generalisation/taggroups_en-fr -text
generalisation/rule-generalisation/taggroups_eng-kaz -text
generalisation/rule-generalisation/taggroups_es-ca -text
generalisation/rule-generalisation/taggroups_es-en -text
generalisation/rule-generalisation/taggroups_kaz-eng -text
generalisation/rule-generalisation/taggroups_zho-spa -text
generalisation/rule-generalisation/tagsequences_br-fr -text
generalisation/rule-generalisation/tagsequences_ca-es -text
generalisation/rule-generalisation/tagsequences_en-es -text
generalisation/rule-generalisation/tagsequences_en-fr -text
generalisation/rule-generalisation/tagsequences_eng-kaz -text
generalisation/rule-generalisation/tagsequences_es-ca -text
generalisation/rule-generalisation/tagsequences_es-en -text
generalisation/rule-generalisation/tagsequences_kaz-eng -text
generalisation/rule-generalisation/tagsequences_zho-spa -text
generalisation/rule-generalisation/tercom.7.25.jar -text
generalisation/rule-generalisation/testTagsGroupsSeqs.py -text
generalisation/rule-generalisation/translate_apertium.sh -text
generalisation/rule-generalisation/tsort.py -text
generalisation/rule-generalisation/tune-experiment-linear-incremental-parallel-v8.sh -text
generalisation/rule-generalisation/uniqSum.py -text
generalisation/rule-generalisation/unitTests.py -text
generalisation/test/consumer-eroski.dev.ca -text
generalisation/test/consumer-eroski.dev.es -text
generalisation/test/consumer-eroski.test.ca -text
generalisation/test/consumer-eroski.test.es -text
generalisation/test/result-f-0.80.gz -text
generalisation/test/train.ca -text
generalisation/test/train.es -text
/kaz-eng.prob -text svneol=unset#unset
/kazakhnouns.txt -text svneol=unset#application/octet-stream
/list_nouns.txt -text
/modes.xml -text
mteval/bleug.txt -text
mteval/bleus.txt -text
mteval/bleutr.txt -text
mteval/en.txt -text
mteval/en.xml -text
mteval/eng.txt -text
mteval/eng.xml -text
mteval/eng1.xml -text
mteval/es-ref.txt -text
mteval/es-ref.xml -text
mteval/es.txt -text
mteval/es.xml -text
mteval/kaz--ref-google.txt -text svneol=unset#application/octet-stream
mteval/kaz--ref-google.xml -text
mteval/kaz-google -text svneol=unset#application/octet-stream
mteval/kaz-google.txt -text svneol=unset#application/octet-stream
mteval/kaz-google.xml -text
mteval/kaz-ref-google.xml -text
mteval/kaz-ref.txt -text svneol=unset#application/octet-stream
mteval/kaz-ref.xml -text
mteval/kaz-ref1.txt -text svneol=unset#application/octet-stream
mteval/kaz-ref1.xml -text
mteval/kaz-sanasoft.txt -text
mteval/kaz-sanasoft.xml -text
mteval/kaz-sanasoft1.txt -text svneol=unset#application/octet-stream
mteval/kaz-sanasoft1.xml -text
mteval/kaz-trident.txt -text svneol=unset#application/octet-stream
mteval/kaz-trident.xml -text
mteval/kaz.txt -text svneol=unset#application/octet-stream
mteval/kaz.xml -text
mteval/kaz1-ref.txt -text svneol=unset#application/octet-stream
mteval/kaz1-ref.xml -text
mteval/kaz1.txt -text svneol=unset#application/octet-stream
mteval/kaz1.xml -text
mteval/mteval-v13a.pl -text
mteval/scripts.tgz -text
mteval/scripts/detokenizer.perl -text
mteval/scripts/lowercase.perl -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.de -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.el -text
mteval/scripts/nonbreaking_prefixes/nonbreaking_prefix.en -text
mteval/scripts/reuse-weights.perl -text
mteval/scripts/tokenizer.perl -text
mteval/scripts/wrap-xml.perl -text
mteval/text/eng.txt -text
mteval/text/eng1.txt -text
mteval/text/kaz-ref.txt -text svneol=unset#application/octet-stream
mteval/text/kaz-reffin.txt -text svneol=unset#application/octet-stream
mteval/text/kaz.txt -text svneol=unset#application/octet-stream
mteval/text/kaz1.txt -text svneol=unset#application/octet-stream
mteval/wrap.awk -text
mteval/wrapper.sh -text
/new-regression-tests.sh -text
/newadv.txt -text
/newpr.txt -text
/newverb.txt -text
/notnoun.txt -text
/pasten.py -text
/regression-tests.sh -text
texts/business_movie.eng.txt -text
texts/business_movie.kaz.txt -text svneol=unset#application/octet-stream
texts/eng.chunks.txt -text
texts/eng.txt -text
texts/kaz-ref.txt -text svneol=unset#application/octet-stream
texts/kaz.txt -text svneol=unset#application/octet-stream
texts/kazakhstan1.eng.SL -text
texts/kazakhstan1.eng.txt -text
texts/kazakhstan1.kaz.TL -text svneol=unset#application/octet-stream
texts/kazakhstan1.kaz.txt -text svneol=unset#application/octet-stream
texts/movie.eng.txt -text
texts/movie.kaz.txt -text svneol=unset#application/octet-stream
texts/story1.eng.txt -text
texts/story1.kaz.txt -text svneol=unset#application/octet-stream
texts/texts.eng -text
texts/texts.kaz -text svneol=unset#application/octet-stream
/useful[!!-~]notes[!!-~]for[!!-~]Aida -text
/wiki-correct-tests.sh -text
/wiki-tests.sh -text
/Радиан -text
/Футбол -text
